#This is the Redwine Logstash Configuration.
#One can use this configuration while running logstash (eg: logstash agent -f logstash.config)
#Input includes two rabbitmq connections, which consumes messages from the rabbit mq server

input{
    #Rabbitmq input  which consumes messages with keys erro.redwine
    rabbitmq {
        exchange => "redwine.log"
        key => "erro.redwine"
        host => "localhost"
        durable => true
        user => "guest"
        password => "guest"
    }

    #Rabbitmq input  which consumes messages with keys info.redwine
    rabbitmq {
        exchange => "redwine.log"
        key => "info.redwine"
        host => "localhost"
        durable => true
        user => "guest"
        password => "guest"
    }
}

filter {
    json {
        source => "message"
        remove_field => [ "message" ]
    }
}

output {
  elasticsearch {
    host => "localhost"
    #For daily index creation used the time notation, Remove if not required.
    index => "redwine.%{+yyyy.MM.dd}"

    #Index type will be choose according to the LOG_TYPE value.
    index_type => "%{LOG_TYPE}"
  }
}